In [1]:
#Day 2 Panda
import pandas as pd

In [2]:
# Load my CSV (relative path from notebooks/ to data/)
df = pd.read_csv("../data/sample_people.csv")

In [3]:
print("Head:")
print(df.head())

Head:
      Name  Age           City
0    Alice   24       New York
1      Bob   30        Chicago
2  Charlie   22  San Francisco
3    David   35         Boston

In [4]:
print("\nInfo:")
print(df.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [5]:
print("\nDescribe (quick stats):")
print(df.describe(include="all"))

Describe (quick stats):
         Name        Age      City
count       4   4.000000         4
unique      4        NaN         4
top     Alice        NaN  New York
freq        1        NaN         1
mean      NaN  27.750000       NaN
std       NaN   5.909033       NaN
min       NaN  22.000000       NaN
25%       NaN  23.500000       NaN
50%       NaN  27.000000       NaN
75%       NaN  31.250000       NaN
max       NaN  35.000000       NaN